@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url(./img/bgimg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
